form {
}
.form-group {
    justify-content: center;
    padding: 32px;
    border-bottom: solid 1px var(--clr-primary-subtle);
}
.form-group:first-of-type {
    border-top: solid 1px var(--clr-primary-subtle);
}
.button-wrapper {
    border: none;
}
input:where([type="text"],[type="email"]),
textarea {
    background-color: transparent;
    border: none;
    width: 100%;
    min-height: 22px;
}
textarea {
    // min-height: 100px;
}
label {
    margin-bottom: 16px;
}
::placeholder {
    color: var(--clr-base);
    opacity: 0.8;
}
input:has(+[role="alert"])::placeholder {
    opacity: 0;
}
[role="alert"] {
    color: var(--clr-alert);
    cursor: pointer;
}
[role="alert"].visible {
    margin-top: -23px;
}
[role="alert"]:not(.visible) {
    display: none;
}
input[type="checkbox"] {
    + label {
        color: var(--clr-base);
        font-size: 15px;
        font-weight: 400;
        a {
            color: var(--clr-primary);
            &:hover {
                color: var(--clr-base);
                text-decoration: underline;
            }
        }
    }
}
