@use 'mixins' as m;

.container {
    min-height: 708px;
    .media-block {
        @include m.mq(tabl) {
            max-width: 370px;
        }
    }
    .media-wrapper {
        position: relative;
        @include m.mqMin(tabl) {
            left: 28px;
        }
        img {
            border-radius: var(--box-radius);
        }
        .img {
            position: relative;
            background-color: var(--clr-primary);
        }
        .decor {
            position: absolute;
            bottom: -12px;
            left: -12px;
            @include m.mqMin(tabl) {
                bottom: -30px;
                left: -46px;
            }
        }
    }
    .ct-block {
        align-self: end;
        @include m.mq(tabl, $t:min) {
            max-width: 568px;
        }
    }
    .block-inner {
        gap: 32px;
    }
}
li {
    align-items: start;
    gap: 24px;
}

/** responsiv */
@include m.mq(tabl) {
    .container {
        gap: 72px;
    }
    .block-inner {
        gap: 24px;
    }
}

