.hero-wrapper {
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    min-height: var(--full-height);
}
section {
    position: relative;
    flex-grow: 1;
    padding-block: 0;
}
.container {
    flex-grow: 1;
    transform: translateY(-56px);
    padding-block: var(--py-sec);
}
h1 {
    text-align: center;
    color: var(--clr-base-subtle);
    font-size: 128px;
    font-family: var(--ff-primary);
    line-height: 1.2;
    span {
        display: block;
        font-family: var(--ff-secondary);
        font-size: 40px;
        margin-bottom: 14px;
    };
}
.button-wrapper {
    margin-top: 48px;
    gap: 48px;
}
.quick-contact {
    max-width: 32px;
    gap: 12px;
    position: absolute;
    bottom: -56px;
    right: 0;
    .decor {
        height: 185px;
        border-right: solid 1px var(--clr-base-subtle);
        margin-top: 12px;
    }
    .email {
        rotate: -90deg;
        transform: translateX(100px);
        white-space: nowrap;
        &:hover {
            color: var(--clr-primary);
        }
    }
}

@media(max-width: 1180px) {
    h1 {
        font-size: 10vw;
        span {
            font-size: 3vw;
        }
    }
}
@media(max-width: 719px) {
    h1 {
        font-size: 62px;
        span {
            font-size: 24px;
        }
    }
    .button-wrapper {
        margin-top: 32px;
        gap: 24px;
    }
}