@use 'mixins' as m;

@keyframes marquee-single {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-100%);}
}
@keyframes marquee {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-50%);}
}
@keyframes bounce {
    0%, 100% {transform: translateY(0);}
    50% {transform: translateY(10px);}
}

section {
    background: var(--bg-gradient);
    min-height: var(--full-height);
    position: relative;
    flex-grow: 1;
    padding-block: 0;
    overflow: hidden;
}
.container {
    flex-grow: 1;
    padding-block: var(--py-sec);
    @media(min-height: 800px) {
        transform: translateY(-56px);
    }
    @include m.mq(mob) {
        @media(max-height: 799px) {
            padding-top: 190px;
        }
    }
}
h1 {
    text-align: center;
    color: var(--clr-base-subtle);
    font-size: 128px;
    font-family: var(--ff-primary);
    line-height: 1.2;
    span {
        display: block;
        font-family: var(--ff-secondary);
        font-size: 40px;
        margin-bottom: 14px;
    };
}
/** cta buttons*/
.button-wrapper {
    margin-top: 32px;
    gap: 24px;
    row-gap: 12px;
    .btn {
        padding-inline: 16px;
        width: 100%;
        min-width: 175px;
        overflow: hidden;
        position: relative;
        div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            white-space: nowrap;
            width: 100%;
        }
    }
    @include m.mq(mob) {
        .btn {
            color: var(--clr-primary);
            div {
                position: absolute;
                animation: marquee-single 1.5s linear infinite;
                transform: translateX(-100%);
            }
            &:last-of-type div {
                animation-delay: 1s;
            }
        }
    }
    @include m.mqMin(mob) {
        margin-top: 48px;
        gap: 48px;
        .btn:hover div {
            position: absolute;
            animation: marquee-single 1.5s linear infinite;
            transform: translateX(-100%);
        }
    }
}
html[lang="de"] :host {
    .button-wrapper .btn {
        min-width: 210px;
    }
}


/** scroll indicator pillar */
.scroll-indicator {
    gap: 12px;
    position: absolute;
    bottom: -56px;
    left: 0;
    .decor {
        height: 240px;
        border-right: solid 1px var(--clr-primary);
        margin-top: 12px;
    }
    .indicator {
        height: 48px;
        width: 28px;
        border: solid 1px var(--clr-primary);
        border-radius: 100px;
        img {
            height: 15px;
            width: auto;
            opacity: 0.85;
            animation: bounce 1s linear infinite;
        }
    }
}
/** quick contact pillar */
.quick-contact {
    max-width: 32px;
    gap: 12px;
    position: absolute;
    bottom: -56px;
    right: 0;
    .decor {
        height: 185px;
        border-right: solid 1px var(--clr-base-subtle);
        margin-top: 12px;
    }
    .link.email {
        rotate: -90deg;
        transform: translateX(100px);
        white-space: nowrap;
        &:hover {
            color: var(--clr-primary);
        }
    }
    .icon-link img {
        min-height: 32px;
        width: auto;
        transition: all var(--transition-duration);
    }
    .icon-link.email {
        display: none;
    }
    .icon-link {
        position: relative;
    }
    .icon-link:hover::after {
        content: '';
        position: absolute;
        display: block;
        width: 6.5px;
        height: 6.5px;
        border-radius: 50%;
        background-color: var(--clr-primary);
        transform: translate(36px, -20px);
    }
    .icon-link.email:hover img {
        content: url('../../assets/icons/email.svg');
    }
    .icon-link.github:hover img {
        content: url('../../assets/icons/logo-github.svg');
    }
    .icon-link.linkedin:hover img {
        content: url('../../assets/icons/logo-linkedin.svg');
    }
}

/** marquee banner */
.marquee-banner {
    rotate: -3deg;
    position: absolute;
    bottom: 48px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 62px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(5.3px);
    --fade-shadow: linear-gradient(90deg, #1C1C1C 10%,transparent 20vw, transparent 80vw, #08463B 90%);
    @media(max-width: 1679px) {
        &::after {
            content: unset;
        }
    }
}
.marquee-content {
    display: flex;
    position: absolute;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    transform: translateX(100%);
    font-size: 32px;
    color: var(--clr-primary);
    span {
        margin-right: 112px;
        position: relative;
    }
    span::after {
        content: '';
        background-color: var(--clr-primary);
        width: 6.5px;
        height: 6.5px;
        border-radius: 50%;
        position: absolute;
        margin-left: 56px;
        margin-right: 56px;
        top: 16px;
    }
}
.marquee-banner:hover .marquee-content {
    animation-play-state: paused;        
}

@include m.mq(tabl-md) {
    h1 {
        font-size: 10vw;
        span {
            font-size: 3vw;
        }
    }
}
@include m.mq(mob) {
    .container {
        transform: translateY(-12vh);
    }
    h1 {
        font-size: 62px;
        span {
            font-size: 24px;
        }
    }
    .scroll-indicator {
        .decor {
            height: 224px;
        }
    }
    .quick-contact {
        .decor {
            height: 112px;
        }
        .link.email {
            display: none;
        }
        .icon-link.email {
            display: initial;
        }
    }
}
@include m.mq(mob-xs) {
    .button-wrapper > * {
        max-width: 60vw;
    }
}
