header {
    padding-block: 32px;
    font-family: var(--ff-secondary);
    font-size: 20px;
    .container {
        position: relative;
    }
}
nav {
    gap: 1.5rem;
    ul {
        gap: 1.5rem;
        margin-top: 6px;
        li {
            flex-direction: column;
            gap: 6px;
            span {
                font-size: 1.5em;
                line-height: 0;
                transform: translateY(-1px);
                opacity: 0;
                transition: all 175ms;
            };
        }
        li:hover {
            color: var(--clr-primary);
            span {
                opacity: 1;
            }
        }
    }
}
.switch {
    margin-top: -16px;
    input {
        width: 0;
        opacity: 0;
    }
    label {
        font-size: 16px;
        color: var(--clr-primary-subtle);
        border: solid 1px var(--clr-primary);
        border-radius: 100px;
        span {
            padding-inline: 12px;
            display: inline-flex;
            align-items: center;
            height: 26px;
            width: 40px;
            cursor: pointer;
        }
    }
    input:not(:checked) + label span:last-of-type {
        padding-left: 8px;
    }
    input:not(:checked) + label span:first-of-type,
    input:checked + label span:last-of-type {
        background: var(--clr-primary);
        border-radius: 100px;
        color: var(--clr-base);
        font-weight: 700;
        width: 44px;
    }
}

.under-construction {
    position: fixed;
    bottom: 32px;
    left: 0px;
    // rotate: -35deg;
    padding: 24px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(55.22deg, #5e4949 36.26%, #08463B 93.28%);
    z-index: 99;
}


@media(max-width: 719px) {
    figure {
        order: -1;
        .desktop {
            display: none;
        }
    
    }
    nav {
        display: none;
    }
    nav.visible {
        .switch {
            margin-top: 0;
        }
        display: flex;
        background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
        border: 1px solid var(--clr-primary);
        border-radius: var(--box-radius);
        position: absolute;
        padding-block: 40px;
        padding-inline: 77px;
        flex-direction: column;
        right: 0;
        top: 50px;
        font-size: 18px;
        gap: 2px;
        ul {
            margin-top: 0;
            flex-direction: column;
            order: -1;
            align-items: start;
            gap: 16px;
        }
    }
    .hamburger:hover img {
        content: url(../../../assets/icons/hamburger-primary.svg);
    }
}
@media(min-width: 720px) {
    figure .mob {
        display: none;
    }
    .hamburger {
        display: none;
    }
}
