h2 {
    margin-bottom: 40px;
}
.subtitle {
    margin-bottom: 20px;
}
.ct-block {
    max-width: 568px;
    .block-inner {
        p:not(.subtitle) {
            font-size: var(--fs-text-sm);
            margin-bottom: 1em;
            span {
                color: var(--clr-primary);
            }
        }
        .description {
            max-width: 400px;
        }
    }
}
