@use 'mixins' as m;


:root {
    --full-height: 100vh;
    --full-height: 100svh;
    --focus-offset: 5px;
    --focus-color: hsl(0, 0%, 50%);
    --focus-outline: 1px dotted var(--focus-color);
    --focus-shadow: 0 2px 2px -1px var(--focus-color);
}
* { 
    box-sizing: border-box;   
}
:focus {
    outline-offset: var(--focus-offset);
}
:focus:not(:focus-visible) {
    outline: none; 
}
:focus-visible {
    outline: var(--focus-outline);
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: var(--full-height);
}
body,
p, ul, figure,
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}
:where(ul:not(.skip-gap)) {
    gap: 0.2em;
}
figure, form, .form-group {
    display: flex;
    flex-direction: column;
}
img {
    display: block;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}
input {
    max-width: 100%;
}
textarea {
    resize: vertical;
}
input:where([type="text"],[type="email"]),
textarea {
    width: 100%;
    background-color: transparent;
    border: none;
}
button, .btn, input, textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
button {
    border: none;
}
button, .btn {
    background-color: transparent;
    transition: all var(--transition-duration);
}
:where(button, .btn):not(:disabled) {
    cursor: pointer;
}
:is(button, .btn):disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
        color: inherit !important;
    }
}



/** layout elements */
section, .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-inline: var(--px-page);
    padding-block: var(--py-sec);
}
.container, .block {
    display: flex;
    width: 100%;
}
.container {
    max-width: var(--ct-width);
}
:where(.container.flex-row) {
    gap: var(--block-gap);
}
:where(.container:not(.flex-row)) {
    flex-direction: column;
    // align-items: center;
}
:where(.block:not(.flex-row)) {
    flex-direction: column;
}
