.container {
    .ct-block {
        @media (min-width: 940px) {
            max-width: 42.5%;
        }
        .block-inner {
            gap: 32px;
            div p {
                    max-width: 290px;
                    font-size: var(--fs-text-sm);
                }
        }
    }
    .media-block {
        display: grid;
        grid-template-columns: repeat(auto-fit, max(90px));
        row-gap: 16px;
        column-gap: calc((100% - 360px) / 3);
        @media(max-width: 511px) {
            column-gap: calc((100% - 270px) / 2);
        }
    }
    figure {
        border: solid 1px black;
        display: flex;
        flex-direction: column;
        gap: 8px;
        min-height: 124px;
        img {
            height: 64px;
            width: auto;
        }
        figcaption {
            text-align: center;
        }
    }
}
