@use 'mixins' as m;

section {
    padding-top: calc((var(--py-sec) + 32px));
}
.container {
    .ct-block {
        @include m.mqMin(tabl) {
            max-width: 41.66%;
        }
        .block-inner {
            gap: 32px;
            div p {
                max-width: 85%;
                font-size: var(--fs-text-sm);
            }
        }
    }
    .media-block {
        display: grid;
        grid-template-columns: repeat(auto-fit, 90px);
        grid-template-rows: repeat(auto-fit, 124px);
        column-gap: calc((100% - 360px) / 3);
        row-gap: 32px;
        @include m.mqRange(mob, tabl) {
        // @media(min-width: 720px) and (max-width: 939px) {
            column-gap: calc((100% - 450px) / 4);
            row-gap: 24px;
        }
        @include m.mq(mob-sm) {
            column-gap: calc((100% - 270px) / 2);
            row-gap: 16px;
        }
        > figure {
            gap: 8px;
            img {
                height: 64px;
                width: auto;
            }
            figcaption {
                text-align: center;
            }
        }
        .growth-mindset {
            --transition-duration: 225ms; 
            position: relative;
            cursor: pointer;
            transition: all var(--transition-duration);
            img {
                transition: all var(--transition-duration);
            }
            .tooltip {
                display: none;
                position: absolute;
                top: 2px;
                right: 0;
                transform: translateY(-100%);
                background-color: white;
                min-width: 188px;
                padding: 10px;
                border-radius: 16px;
                gap: 8px;
                color: var(--clr-primary);
                font-size: var(--fs-text-sm);
                transition: all var(--transition-duration);
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -17px;
                    right: 32px;
                    width: 0;
                    height: 0;
                    border-left: 13px solid transparent;
                    border-right: 13px solid transparent;
                    border-top: 17px solid white;
                }
                p {
                    text-align: center;
                }
                .wrapper {
                    gap: 16px;
                    figure {
                        gap: 5px;
                        width: 48px;
                        img {
                            height: 32px;
                            width: auto;
                        }
                        figcaption {
                            font-size: 12px;
                            font-weight: bold;
                        }
                    }
                }
            }
            &:hover {
                color: var(--clr-primary);
                img {
                    scale: 1.1;
                }
                .tooltip {
                    display: flex;
                }
            }
        
        }
    }
}
