@use 'mixins' as m;

h2 {
    margin-bottom: 40px;
}
.subtitle {
    margin-bottom: 20px;
}
.intro {
    max-width: 456px;
    margin-bottom: 40px;
}
.container.main {
    gap: 72px;
}
.project-listing ul {
    gap: 0;

    li {
        display: flex;
        list-style-type: none;
        align-items: center;
        // gap: 16px;
        gap: 4vw;

        @include m.mqMin(tabl) {
            max-height: 112px;
        }

        @include m.mqMin(ct) {
            gap: 72px;
        }

        button {
            border-top: solid 1px var(--clr-primary);
            display: flex;
            justify-content: space-between;
            padding-block: 32px;
            font-size: var(--fs-text-lg);
            font-family: var(--ff-secondary);
            font-weight: 700;
            width: 100%;
            text-align: start;

            @include m.mq(mob) {
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 10px;
            }

            @include m.mq(tabl, $t:min) {
                padding-block: 40px;
                padding-inline: 32px;
                max-width: 70%;
            }

            .label {
                display: flex;
                // align-items: start;
                justify-content: start;

                img {
                    display: none;
                    margin-left: 4px;
                    margin-right: auto;
                    width: 23px;
                    height: auto;
                }
            }

            .tags {
                font-family: var(--ff-primary);
                font-size: var(--fs-text);
                font-weight: normal;
                line-height: 1.4;

                span {
                    color: var(--clr-primary);
                }
            }
        }

        .item {
            display: none;
            // display: flex;
            flex-direction: column;
            position: relative;

            img {
                width: 295px;
                height: auto;
            }

            .preview {
                border-radius: 15px;
                right: 0;
            }

            .decor {
                position: absolute;
                bottom: -20px;
                right: -20px;
                z-index: -1;
            }
        }

        button:hover {
            background-color: var(--clr-primary-hover);

            .label img {
                display: block;
            }

            @include m.mq(tabl, $t:min) {
                +.item {
                    display: flex;
                }
            }
        }
        &:first-of-type {
            .item {
                top: 28px;
            }
        }
        &:last-of-type {
            button {
                border-bottom: solid 1px var(--clr-primary);
            }
            .item {
                top: -28px;
            }
        }
    }
}
