h2 {
    margin-bottom: 40px;
}
.subtitle {
    margin-bottom: 20px;
}
.intro {
    max-width: 456px;
    margin-bottom: 40px;
}
.container.main {
    gap: 72px;
}
.project-listing ul {
    gap: 0;
}
