footer {
    font-size: var(--fs-text-sm);
    padding-block: 32px;
}
.container {
    gap: 2rem;
}
figure {
    gap: 2rem;
    img {
        height: 48px;
    }
    figcaption {
        line-height: 1.8;
    }
}
.copyright {
    color: var(--clr-primary);
    font-family: var(--ff-secondary);
    font-size: 18px;
    @media(max-width: 719px) {
        order: 9;
        justify-content: center;
    }
}
nav.links-wrapper {
    align-self: end;
    gap: 8px;
    @media(max-width: 719px) {
        align-self: start;
    }
}

.under-construction {
    position: fixed;
    bottom: 0;
    inset-inline: 9vw;
    padding: 16px;
    // background-color: black;
    background-color: var(--clr-base);
    border: dashed 2px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: none;    
    z-index: 99;
    color: var(--clr-primary);
    font-weight: bold;
    &.closed {
        display: none;
    }
    button {
        position: absolute;
        top: -4px;
        right: -4px;
        border: solid 1px var(--clr-primary);
        border-radius: 50%;
        background-color: black;
        height: 24px;
        width: 24px;
        padding: 7px;
        img {
            height: 100%;
        }
        &:hover {
            border-color: var(--clr-base);
        }
    }
}
