.dialogue {
    // display: none;
    // position: fixed;
    // inset: 0;
    background-color: var(--clr-primary-hover);
    padding: 1rem;
    .container {
        background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
        --fs-h1-xl: 128px;
        --py: 91px;
        --px: 5vw;
        position: relative;
        padding-block: var(--py);
        padding-inline: var(--px);
        @media(max-width: 511px) {
            --fs-h1-xl: 72px;
            --px: 12px;
            padding-block: var(--py) 96px;
        }
        @media(min-width: 1356px) {
            --px: 80px;
        }
        .close {
            position: absolute;
            top: 56px;
            right: var(--px);
            @media(max-width: 939px) {
                top: 16px;
                right: 16px;
            }
        }
        .next {
            position: absolute;
            bottom: 48px;
            right: var(--px);
            gap: 8px;
            color: var(--clr-primary);
            @media(max-width: 939px) {
                bottom: 24px;
                right: 16px;
            }
            img {
                transition: all var(--transition-duration);
            }
            &:hover {
                color: var(--clr-base);
                img {
                    transform: translateX(4px);
                }
            }
        }
        h1 {
            font-size: var(--fs-h2);
            color: var(--clr-base);

            span {
                display: block;
                font-family: var(--ff-primary);
                font-size: var(--fs-h1-xl);
                color: var(--clr-primary);
                margin-top: -20px;
            }
        }
        .ct-block {
            gap: 40px;
            max-width: 480px;
            .tags {
                flex-wrap: wrap;
                gap: 16px;
                font-size: var(--fs-text-sm);
                div {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
            }
            .btn-wrapper {
                @media(max-width: 511px) {
                    justify-content: center;
                }
            }
        }
        .media-block {
            order: -1;
            max-width: 520px;
            padding-bottom: 12px;
            @media (min-width: 940px) {
                order: 9;
                padding-bottom: 0;
            }
        }

    }
}