<li>
    <button (click)="openDialogue()">
        <div class="label">{{ project().title }}<img src="assets/icons/arrow-outward.svg" alt="open-arrow-icon"></div>
        <div class="tags">
            @for (tag of project().tags; track tag; let isLast = $last) {
                <span>{{ tag }}</span>
                @if(!isLast){<span> | </span>}}
        </div>
    </button>
    <div class="item">
        <img class="preview" src="{{ project().previewImgUrl }}" alt="screenshot project {{ project().title }}">
        <img class="decor" src="assets/img/deco-pattern-project-preview.svg">
    </div>
</li>


<div class="dialogue flex-col center" [class.visible]="isDialogueVisible">

    <div class="container main flex-row justify-between align-center stack--tabl box-radius">

        <button class="close" (click)="closeDialogue()"><img src="assets/icons/close.svg" alt="icon close"></button>
        <!-- <button class="next btn" (click)="showNext.emit()">Next project<img src="assets/icons/arrow-forward-primary.svg" alt="icon arrow-forward"></button> -->

        <div class="block ct-block">
            <h1><span>{{ project().id }}</span>{{ project().title }}</h1>
            <div class="description flex-col">
                <h3>{{ data.about | translate }}</h3>
                <p>{{ project().description | translate }}</p>
            </div>
            <div class="tags flex-row">
                @for (tag of project().tags; track tag) {
                    <div><img src="assets/icons/logo-{{ tag | lowercase }}-primary.svg" alt="logo {{ tag }}">{{ tag }}</div>
                }
            </div>
            <div class="btn-wrapper flex-row ct-gap stack--mob-xs">
                <a class="btn btn--outline" href="{{ project().githubUrl }}" target="_blank">GitHub<img src="assets/icons/arrow-outward-primary.svg" alt="icon arrow-outward"></a>
                <a class="btn btn--outline" href="{{ project().demoUrl }}" target="_blank">Live Test<img src="assets/icons/arrow-outward-primary.svg" alt=""></a>
            </div>
        </div>

        <div class="block media-block box-radius">
            <img src="{{ project().previewImgUrl }}" alt="screenshot project {{ project().title }}">
        </div>

        <button class="next btn" (click)="showNext.emit()">{{ data.next | translate }}<img src="assets/icons/arrow-forward-primary.svg" alt="icon arrow-forward"></button>

    </div>

</div>