@use 'mixins' as m;

section {
    --ct-width: 1440px;
}
.container {
    overflow: hidden;
    position: relative;
    /* stop fade shadow */
    @include m.mq(mob) {
        &::after {
            content: unset;
        }
    }
}
h2 {
    font-size: 32px;
    margin-bottom: 48px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: unset;
}
.slide-wrapper {
    min-height: 274px;
    --slide-gap: 4vw;
    gap: var(--slide-gap);
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}
.slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    background-color: #222E2C;
    border: solid 1px var(--clr-primary);
    border-radius: var(--box-radius);
    font-size: 20px;
    min-height: 100%;
    padding: 48px 40px;
    --slide-width: 632px;
    min-width: var(--slide-width);
    transition: transform 0.5s ease-in-out;
    // img {
    //     display: none;
    // }
}
.slide.active {
    background-color: var(--clr-primary-hover);
    border: solid 1px var(--clr-primary);
    border-radius: 32px;
    padding: 48px 40px;
    font-size: 20px;
    img {
        display: block;
        height: 48px;
        width: auto;
        position: absolute;
        top: -12px;
        left: 0;
        @include m.mq(mob, $t:min) {
            height: 64px;
            transform: translateX(-50%);
        }
    };
}
.slide:not(.active) {
    margin-block: 13px;
    padding-bottom: 24px;
}
.name-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    margin-top: auto;
    div {
        width: 100%;
        border-bottom: solid 1px var(--clr-base);
        transform: translateY(-50%);
    }
    p {
        white-space: nowrap;
    }
}
.slider-nav {
    z-index: 1;
    margin-top: 56px;
    gap: 12px;
    img {
        transition: all var(--transition-duration);
    }
    > button:first-of-type:hover img {
        content: url('../../assets/icons/arrow-backward-primary.svg');
        transform: translateX(-4px);
    }
    > button:last-of-type:hover img {
        content: url('../../assets/icons/arrow-forward-primary.svg');
        transform: translateX(4px);
    }
    .slide-bullets {
        gap: 8px;
        button.active img {
            content: url('../../assets/icons/bullet-primary.svg');
        }
    }
}


// @media(max-width: 1099px) {
@include m.mq(tabl-md) {
    .slide {
        --slide-width: 60vw;
        min-width: var(--slide-width);
    }
}
@include m.mq(mob) {
    h2 {
        font-size: 24px;
    }
    .slide-wrapper {
        --slide-gap: 2vw;
    }
    .slide {
        justify-content: center;
        --slide-width: 80vw;
        min-width: var(--slide-width);
        .content {
            margin-top: auto;
        }
    }
    .slider-nav {
        margin-top: 40px;
    }
}
@media(min-width: 1440px) {
    .slide-wrapper {
        --slide-gap: 64px;
    }
}