<section class="">
    <div class="container align-center fade-shadow-inline">

        <h2>What my colleagues say about&nbsp;me</h2>

        <ul class="slide-wrapper flex-row justify-center">
            @for (item of testimonials; track $index) {
                <li class="slide" [class.active]="item.active">
                    @if (item.active) {
                        <img src="assets/icons/quotes.svg" alt="big-quotes-icon">
                    }
                    <p class="content">{{ item.content }}</p>
                    <div class="name-wrapper">
                        <div></div>
                        <p>{{ item.author }}</p>
                    </div>
                </li>
            }
        </ul>

        <div class="slider-nav flex-row align-center">
            <button><img src="assets/icons/arrow-backward.svg" alt="arrow-back-icon"></button>
            <div class="slide-radio-buttons flex-row">
                <button><img src="assets/icons/bullet.svg" alt="bullet-icon"></button>
                <button class="active"><img src="assets/icons/bullet.svg" alt="bullet-icon"></button>
                <button><img src="assets/icons/bullet.svg" alt="bullet-icon"></button>
                <button><img src="assets/icons/bullet.svg" alt="bullet-icon"></button>
            </div>
            <button><img src="assets/icons/arrow-forward.svg" alt="arrow-forward-icon"></button>
        </div>

    </div>
</section>
