@use 'mixins' as m;

section {
    --ct-width: 1440px;
    --slide-width: 632px;
    --slide-gap: 4vw;
    @include m.mq(tabl-md) {
        --slide-width: 60vw;
    }
    @include m.mq(mob) {
        --slide-width: 80vw;
        --slide-gap: 2vw;
        padding-bottom: 24px;
    }
    @media(min-width: 1440px) {
        --slide-gap: 64px;
    }
}    
.container {
    overflow: hidden;
    position: relative;
    /* stop fade shadow */
    @include m.mq(mob) {
        &::after {
            content: unset;
        }
    }
}
.title-wrapper {
    position: relative;
    align-items: center;
    width: 100%;
}
h2 {
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: unset;
    @include m.mq(mob) {
        font-size: 24px;
    }
}
.quote-wrapper {
    align-items: start;
    width: var(--slide-width);
    margin-bottom: -60px;
    .quote {
        display: block;
        height: 48px;
        width: auto;
        z-index: 1;
    }
    @include m.mqMin(mob) {
        margin-bottom: -72px;
        .quote {
            height: 64px;
            transform: translateX(-44px);
        }
    }
}
.splide {
    pointer-events: auto;
}
.slider-container {
    display: flex;
    flex-direction: row;
    max-width: var(--ct-width);
    // gap: var(--slide-gap);
}
.splide__track:not([aria-busy]) {
    .slider-container {
    }
}
.slide {
    background-color: #222E2C;
    border: solid 1px var(--clr-primary);
    border-radius: var(--box-radius);
    font-size: 20px;
    min-height: 100%;
    padding: 48px 40px;
    margin-top: 20px;
    width: var(--slide-width);
    min-width: var(--slide-width);
    transition: margin 175ms, background-color 175ms;
    @include m.mq(mob) {
        justify-content: center;
    }
    @include m.mq(mob-xs) {
        padding-inline: 24px;
    }
}
.slide.is-active {
    background-color: var(--clr-primary-hover);
}
.slide:not(.is-active) {
    margin-block: 33px 13px;
    padding-bottom: 24px;
}
.slide-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    min-height: 100%;
    .content {
        display: flex;
        flex-direction: column;
        @include m.mq(mob) {
            margin-top: auto;
            font-size: 18px;
        }
        @include m.mq(mob-xs) {
            font-size: 16px;
        }
    }
    .name-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 16px;
        @include m.mq(mob) {
            font-size: 16px;
            margin-bottom: auto;
        }
        @include m.mq(mob-xs) {
            font-size: 14px;
            flex-direction: column;
        }
        div {
            width: 100%;
            border-bottom: solid 1px var(--clr-base);
            transform: translateY(-50%);
            @include m.mq(mob-xs) {
                margin-top: 8px;
                // transform: translateY(25%);
            }
        }
        p {
            white-space: nowrap;
        }
    }
}

:host ::ng-deep {
    .slider-controls {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        pointer-events: none;
        padding-bottom: 3px;
    }
    .splide__arrows {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 34px;
        pointer-events: auto;
        .splide__arrow {
            z-index: 2;
            opacity: 1;
            top: 0;
            background: transparent;
            transform: none;
            transition: all var(--transition-duration);
            svg {
                fill: var(--clr-base);
                height: 40px;
                width: 40px;
                fill: white;
            }
            &--prev {
                left: 0;
                &:hover {
                    transform: translateX(-4px);
                    svg {
                        fill: var(--clr-primary);
                    }
                }
            }
            &--next {
                right: 0;
                &:hover {
                    transform: translateX(4px);
                    svg {
                        fill: var(--clr-primary);
                    }
                }
            }
        }
    }
    .splide__pagination {
        // background-color: greenyellow;
        gap: 12px;
        /** fixes */
        position: relative;
        display: flex !important;
        flex-direction: row;
        flex-wrap: nowrap;
        bottom: 4px;
        padding-inline: 54px;
        pointer-events: auto;
        button {
            opacity: 1;
            background-color: var(--clr-base);
            &.is-active {
                transform: scale(1);
                background-color: var(--clr-primary);
            }
        }
    }
}
