@use 'mixins' as m;

section {
    --ct-width: 1440px;
}
.container {
    overflow: hidden;
    position: relative;
    /* stop fade shadow */
    @include m.mq(mob) {
        &::after {
            content: unset;
        }
    }
}
.title-wrapper {
    position: relative;
    h2 {
        font-size: 32px;
        margin-bottom: 32px;
        text-align: center;
        line-height: 1.2;
        letter-spacing: unset;
    }
    img {
        display: block;
        height: 48px;
        width: auto;
        position: absolute;
        bottom: -72px;
        left: -20px;
        z-index: 1;
        @include m.mqMin(mob) {
            height: 64px;
            transform: translateX(-50%);
        }
    };
}
.splide {
    padding-bottom: 90px;
}
.slider-container {
    min-height: 294px;
    display: flex;
    flex-direction: row;
    max-width: var(--ct-width);
    // --slide-gap: 4vw;
    // gap: var(--slide-gap);
    gap: 0;
}
.slide {
    background-color: #222E2C;
    border: solid 1px var(--clr-primary);
    border-radius: var(--box-radius);
    font-size: 20px;
    min-height: 100%;
    padding: 48px 40px;
    margin-top: 20px;
    --slide-width: 632px;
    width: var(--slide-width);
    transition: margin 175ms, background-color 175ms;
}
.slide.is-active {
    background-color: var(--clr-primary-hover);
    margin-top: 20px;
    padding-bottom: 40px;
}
.slide:not(.is-active) {
    margin-block: 33px 13px;
    padding-bottom: 24px;
}
.slide-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    height: 100%;
    .content {
    display: flex;
    flex-direction: column
    }
    .name-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 16px;
        margin-top: auto;
        div {
            width: 100%;
            border-bottom: solid 1px var(--clr-base);
            transform: translateY(-50%);
        }
        p {
            white-space: nowrap;
        }
    }
}

:host ::ng-deep {
    .slider-controls {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        padding-bottom: 3px;
    }
    .splide__arrows {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 34px;
        .splide__arrow {
            z-index: 2;
            opacity: 1;
            top: 0;
            background: transparent;
            transform: none;
            transition: all var(--transition-duration);
            svg {
                fill: var(--clr-base);
                height: 40px;
                width: 40px;
                fill: white;
            }
            &--prev {
                left: 0;
                &:hover {
                    transform: translateX(-4px);
                    svg {
                        fill: var(--clr-primary);
                    }
                }
            }
            &--next {
                right: 0;
                &:hover {
                    transform: translateX(4px);
                    svg {
                        fill: var(--clr-primary);
                    }
                }
            }
        }
    }
    .splide__pagination {
        // background-color: greenyellow;
        gap: 12px;
        /** fixes */
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        bottom: 4px;
        padding-inline: 54px;
        button {
            opacity: 1;
            background-color: var(--clr-base);
            &.is-active {
                transform: scale(1);
                background-color: var(--clr-primary);
            }
        }
    }
}


// @media(max-width: 1099px) {
@include m.mq(tabl-md) {
    .slide {
        --slide-width: 60vw;
        min-width: var(--slide-width);
    }
}
@include m.mq(mob) {
    h2 {
        font-size: 24px;
    }
    .slider-container {
        --slide-gap: 2vw;
    }
    .slide {
        justify-content: center;
        --slide-width: 80vw;
        min-width: var(--slide-width);
        .content {
            margin-top: auto;
        }
    }
    .slider-controls {
        margin-top: 74px;
    }
}
@media(min-width: 1440px) {
    .slide-container {
        --slide-gap: 64px;
    }
}