<section class="">
    <div class="container align-center fade-shadow-inline">

        <h2>What my colleagues say about&nbsp;me</h2>

        <div class="slider-container" 
            (mouseenter)="stopAutoPlay()" 
            (mouseleave)="startAutoPlay()">
            <div class="slider flex-row xcenter" [style.transform]="sliderTransform">
                <!-- Clone of the last slide -->
                @if (slides.length > 0) {
                    <li class="slide">
                        <p class="content">{{ slides[slides.length - 1].content }}</p>
                        <div class="name-wrapper">
                            <div></div>
                            <p>{{ slides[slides.length - 1].author }}</p>
                        </div>
                    </li>
                }
                @for (slide of slides; track slide; let i = $index) {
                    <li class="slide" [class.active]="i === currentSlide">
                        <!-- @if(i === currentSlide) {
                            <img src="assets/icons/quotes.svg" alt="big-quotes-icon">
                        } -->
                        <p class="content">{{ slide.content }}</p>
                        <div class="name-wrapper">
                            <div></div>
                            <p>{{ slide.author }}</p>
                        </div>
                    </li>
                }
                <!-- Clone of the first slide -->
                @if (slides.length > 0) {
                    <li class="slide">
                        <p class="content">{{ slides[0].content }}</p>
                        <div class="name-wrapper">
                            <div></div>
                            <p>{{ slides[0].author }}</p>
                        </div>
                    </li>
                }
            </div>
        </div>

        <div class="slider-controls flex-row align-center">
            <button class="nav-btn prev" (click)="changeSlide(-1)"><img src="assets/icons/arrow-backward.svg" alt="arrow-back-icon"></button>
            <div class="radio-controls">
                @for (slide of slides; track slide; let i = $index) {
                    <button class="radio-btn" 
                        [class.active]="i === currentSlide" 
                        (click)="goToSlide(i)">
                        <img src="assets/icons/bullet.svg" alt="bullet-icon">                        
                    </button>
                }
            </div>
            <button class="nav-btn next" (click)="changeSlide(1)"><img src="assets/icons/arrow-forward.svg" alt="arrow-forward-icon"></button>
        </div>
        
    </div>
</section>