@use 'mixins' as m;
@use 'standard';
@use 'uclasses';
@import url("assets/fonts/fira-code/fira-code.css");
@import url("assets/fonts/karla/karla.css");

:root {
    --top-spacing: 112px;
    --px-page: 4vw;
    --ct-width: 1248px;
    --py-sec: 75px;
    // --py-sec-sm: 2.5rem;
    // --py-sec-lg: 4.0rem;
    --block-gap: 6vw;
    --ct-gap: 2rem;
    --clr-primary: hsl(170, 60%, 53%);
    --clr-primary-subtle: hsla(170, 60%, 53%, 0.5);
    --clr-primary-hover: hsla(170, 60%, 53%, 0.3);
    --clr-alert: hsla(0, 75%, 70%, 0.8); 
    --clr-base: white;
    --clr-base-subtle: hsla(0, 0%, 85%, 1);
    --clr-focus: var(--clr-primary-subtle);
    --box-shadow-focus: 0 0 0 1px var(--clr-focus);
    --box-radius: 30px;
    --ff-primary: "Karla";
    --ff-secondary: "Fira Code";
    --fs-text: 18px;
    --fs-text-sm: 16px;
    --fs-text-lg: 24px;
    --fs-h2: 64px;
    --fs-h3: 24px;
    --lh-text: 1.25;
    --transition-duration: 125ms;
    --fade-shadow: linear-gradient(90deg, #1C1C1C 0%, transparent 10%, transparent 90%, #1C1C1C 100%);
    --bg-gradient: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);

    @include m.mq(mob-sm) {
        --px-page: 16px;
        --fs-text: 16px;
        --fs-text-lg: 20px;
        --fs-h2: 56px;
        --fs-h3: 20px;
    }
    @include m.mq(mob-xs) {
        --fs-h2: 48px;
    }
    @include m.mq(ct, $t:min) {
        --block-gap: 4rem;
    }
}

// :focus {
//     outline: none; 
//     box-shadow: var(--box-shadow-focus);
// }
// .hide-focus {
//     outline: none !important;
//     box-shadow: none !important;
// }
html {
    background: var(--bg-gradient);
}
body {
    color: var(--clr-base);
    font-family: var(--ff-primary);
    font-size: var(--fs-text);
    line-height: var(--lh-text);
    &.overflow-hidden {
        overflow: hidden;
        scrollbar-width: unset;
    }
    &.home {
        background-color: #1c1c1c;
        --top-spacing: 0;
    }
}
app-root {
    position: relative;
    app-header {
        display: block;
        position: absolute;
        width: 100%;
        z-index: 10;
    }
    > :nth-child(3) {
        display: block;
        padding-top: var(--top-spacing);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
    font-weight: 700;
    line-height: 1.15;
}
@include m.mqMin(mob) {
    h1, h2 {
        // letter-spacing: -3px;
    }
}
h2 {
    font-size: var(--fs-h2);
    // margin-top: -24px;
    margin-bottom: -16px;
}
h3 {
    font-size: var(--fs-h3);
    margin-bottom: 16px;
    line-height: 1.4;
}
h3 span {
    color: white;
}
ul {
    gap: 16px;
}
li {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 16px;
}
section {
    // border-bottom: dotted 1px var(--clr-primary-subtle);
}


/** assets */
.nav-link {
    position: relative;
}
.nav-link:hover {
    color: var(--clr-primary);
}
.nav-link:hover::after {
    content: '';
    position: absolute;
    display: flex;
    width: 6.5px;
    height: 6.5px;
    border-radius: 50%;
    background-color: var(--clr-primary);
    transform: translate(-14px, -14px);
}
button, .btn {
    font-family: var(--ff-secondary);
    color: var(--clr-base);
    background-color: transparent;
}
:where(button, .btn):not(:disabled) {
    cursor: pointer;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-inline: 1.5rem;
    min-height: 48px;
    max-width: max-content;
    white-space: nowrap;
    @include m.mq(mob-xs) {
        max-width: unset;
    }
}
.btn--outline {
    border: solid 1px currentColor;
    border-radius: 999rem;
}
.btn--outline:hover:not(:disabled) {
    color: var(--clr-primary);
}
.description-box {
    position: relative;
    border-radius: var(--box-radius);
    border: solid 1px var(--clr-primary);
    padding: 32px;
    gap: 40px;
    background-color: #222E2C;
    @include m.mq(tabl) {
        padding-inline: 24px;
        gap: 32px;
    }
}
.description-box .subtitle {
    position: absolute;
    top: -48px;
}
.subtitle, form label {
    font-size: 24px;
    color: var(--clr-primary);
    font-weight: 500;
}
.fade-shadow-inline::after {
    content: '';
    background: var(--fade-shadow);
    position: absolute;
    inset: 0;
}


