@import url("assets/fonts/fira-code/fira-code.css");
@import url("assets/fonts/karla/karla.css");
// @import url("/src/variables.scss");

$bp-max: 1440px;
$bp-tabl: 939px;
$bp-mob: 719px;
$bp-mob-sm: 511px;
$bp-mob-xs: 389px;

:root {
    --full-height: 100vh;
    --full-height: 100svh;
    --px-page: 4vw;
    --py-sec: 2.5rem;
    --py-sec-sm: 1.5rem;
    --py-sec-lg: 4.0rem;
    --block-gap: 6vw;
    --ct-gap: 2rem;
    --clr-primary: hsl(170, 60%, 53%);
    --clr-primary-subtle: hsla(170, 60%, 53%, 0.5);
    --clr-primary-hover: hsla(170, 60%, 53%, 0.3);
    --clr-base: white;
    --box-radius: 30px;
    --ff-primary: "Karla";
    --ff-secondary: "Fira Code";
    --fs-text: 18px;
    --fs-text-sm: 16px;
    --fs-text-lg: 24px;
    --fs-h2: 64px;
    --fs-h3: 24px;
}
* {
    box-sizing: border-box;   
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    min-height: 100vh;
    min-height: 100svh;
    background-color: #1c1c1c;
    color: var(--clr-base);
    font-family: var(--ff-primary);
    font-size: var(--fs-text);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--ff-secondary);
    color: var(--clr-primary);
    font-weight: 700;
    line-height: 1;
}
h2 {
    font-size: var(--fs-h2);
    // margin-top: -24px;
    margin-bottom: -16px;
}
h3 {
    font-size: var(--fs-h3);
    margin-bottom: 16px;
    line-height: 1.4;
}
h3 span {
    color: white;
}
a {
    text-decoration: none;
    color: inherit;
}
p, ul, figure {
    margin: 0;
}
ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 16px;
}
li {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 16px;
}
img {
    display: block;
    max-width: 100%;
}

/** layout elements */
section, .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: var(--px-page);
    padding-block: var(--py-sec);
}
.container, .block {
    display: flex;
    width: 100%;
}
.container {
    max-width: 1232px;
}
.container.flex-row {
    gap: var(--block-gap);
}
.container:not(.flex-row) {
    flex-direction: column;
    // align-items: center;
}
.block:not(.flex-row) {
    flex-direction: column;
}

/** assets */
button {
    border: none;
}
button, .btn {
    cursor: pointer;
    font-family: var(--ff-secondary);
    font-size: inherit;
    color: var(--clr-base);
    background-color: transparent;
    transition: all 175ms;
}
.btn {
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
    min-height: 48px;
    max-width: max-content;
}
.btn--outline {
    border: solid 1px currentColor;
    border-radius: 999rem;
}
.btn--outline:hover {
    color: var(--clr-primary);
}
.subtitle {
    font-size: 24px;
    color: var(--clr-primary);
    font-weight: 500;
}
.description-box {
    position: relative;
    border-radius: var(--box-radius);
    border: solid 1px var(--clr-primary);
    padding: 32px;
    gap: 40px;
    background-color: #222E2C;
}
.description-box .subtitle {
    position: absolute;
    top: -48px;
}

/** utility classes */
.bg-debug {
    background-color: red;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.flex-grow {
    flex-grow: 1;
}
.flex-wrap {
    flex-wrap: wrap;
}
.py-sec {
    padding-block: var(--py-sec);
}
.py-sec-sm {
    padding-block: var(--py-sec-sm);
}
.py-sec-lg {
    padding-block: var(--py-sec-lg);
}
.gap {
    gap: var(--gap);
}
.block-gap {
    gap: var(--block-gap);
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.text-align-center {
    text-align: center;
}
.box-radius {
    border-radius: var(--box-radius);
    overflow: hidden;
    img {
        border-radius: var(--box-radius);
    }
}


/** responsiv */
@media (max-width: $bp-tabl) {
    .flex-row.stack-tabl {
        flex-wrap: wrap;
        gap: 40px;
        > * {
            flex-basis: 100%;
        }
    }
    .description-box {
        padding-inline: 24px;
        gap: 32px;
    }
}
@media (max-width: $bp-mob) {
    .flex-row:not(.stack-no) {
        flex-wrap: wrap;
        gap: 40px;
        > * {
            flex-basis: 100%;
        }
    }
}
@media (max-width: $bp-mob-sm) {
    :root {
        --px-page: 16px;
        --fs-text: 16px;
        --fs-text-lg: 20px;
        --fs-h2: 56px;
        --fs-h3: 20px;
    }
}
@media (max-width: $bp-mob-xs) {
    :root {
        --fs-h2: 48px;
    }
}

    