@import url("assets/fonts/fira-code/fira-code.css");
@import url("assets/fonts/karla/karla.css");

* {
    box-sizing: border-box;   
}
:root {
    --px-page: 4vw;
    --py-sec: 2.5rem;
    --py-sec-sm: 1.5rem;
    --py-sec-lg: 4.0rem;
    --gap: 2rem;
    --ff-primary: "Fira Code";
    --ff-secondary: "Karla";
    --clr-primary: hsl(170, 60%, 53%);
    --clr-primary-subtle: hsla(170, 60%, 53%, 0.5);
    --clr-base: white;
    --full-height: 100vh;
    --full-height: 100svh;
}
body {
    margin: 0;
    min-height: 100vh;
    min-height: 100svh;
    background-color: #1c1c1c;
    color: var(--clr-base);
    font-family: var(--ff-primary);
    font-size: 20px;
}
h2 {
    color: var(--clr-primary);
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}

/** layout elements */
section, .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: var(--px-page);
    padding-block: var(--py-sec);
}
.container, block {
    display: flex;
    width: 100%;
    max-width: 1260px;
}
.container {
    max-width: 1260px;
}
.container:not(.flex-row) {
    flex-direction: column;
    align-items: center;
}
.block:not(.flex-row) {
    flex-direction: column;
}

/** assets */
button, .btn {
    cursor: pointer;
    font-family: var(--ff-secondary);
    font-size: inherit;
    color: var(--clr-base);
    background-color: transparent;
    transition: all 175ms;
}
.btn {
    padding-inline: 1.5rem;
    min-height: 48px;
}
.btn--outline {
    border: solid 1px currentColor;
    border-radius: 999rem;
}
.btn--outline:hover {
    color: var(--clr-primary);
}
.description-box {
    max-width: 520px;
    border-radius: 30px;
    border: solid 1px var(--clr-primary);
    padding: 40px;
}

/** utility classes */
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
// .flex-row.split > * {
//     flex-basis: 50%;
// }
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.flex-grow {
    flex-grow: 1;
}
.flex-wrap {
    flex-wrap: wrap;
}
.py-sec {
    padding-block: var(--py-sec);
}
.py-sec-sm {
    padding-block: var(--py-sec-sm);
}
.py-sec-lg {
    padding-block: var(--py-sec-lg);
}
.gap {
    gap: var(--gap);
}
.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.text-align-center {
    text-align: center;
}


/** responsiv */
@media screen and (max-width: 719px) {
    .flex-row, .flex-row.split {
        flex-wrap: wrap;
        > * {
            flex-basis: 100%;
        }
    }
}
    