footer {
    font-size: var(--fs-text-sm);
    padding-block: 32px;
}
.container {
    gap: 2rem;
}
figure {
    gap: 2rem;
    img {
        height: 48px;
    }
    figcaption {
        line-height: 1.8;
    }
}
.copyright {
    color: var(--clr-primary);
    font-family: var(--ff-secondary);
    font-size: 18px;
    @media(max-width: 719px) {
        order: 9;
        justify-content: center;
    }
}
nav.links-wrapper {
    align-self: end;
    gap: 8px;
    @media(max-width: 719px) {
        align-self: start;
    }
}
