@use 'mixins' as m;

section {
    --ct-width: 1440px;
    // --ct-width: 100%;
    background-color: #1c1c1c;
}
.container {
    overflow: hidden;
    position: relative;
    /* stop fade shadow */
    @include m.mq(mob) {
        &::after {
            content: unset;
        }
    }
}
h2 {
    font-size: 32px;
    margin-bottom: 48px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: unset;
}
.splide {
    padding-bottom: 90px;
}
.slider-container {
    min-height: 294px;
    display: flex;
    flex-direction: row;
    --slide-gap: 4vw;
    gap: var(--slide-gap);
    max-width: var(--ct-width);
}
.slide {
    background-color: #222E2C;
    border: solid 1px var(--clr-primary);
    border-radius: var(--box-radius);
    font-size: 20px;
    min-height: 100%;
    padding: 48px 40px;
    --slide-width: 632px;
    width: var(--slide-width);
    margin-top: 20px;
    img {
        display: none;
    }
}
.slide.is-active {
    background-color: var(--clr-primary-hover);
    border: solid 1px var(--clr-primary);
    border-radius: 32px;
    padding: 48px 40px;
    font-size: 20px;
    img {
        display: block;
        height: 48px;
        width: auto;
        position: absolute;
        top: -12px;
        left: 0;
        @include m.mqMin(mob) {
            height: 64px;
            transform: translateX(-50%);
        }
    };
}
.slide:not(.is-active) {
    margin-block: 33px 13px;
    padding-bottom: 24px;
}
.slide-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    height: 100%;
    .content {
    display: flex;
    flex-direction: column
    }
    .name-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 16px;
        margin-top: auto;
        div {
            width: 100%;
            border-bottom: solid 1px var(--clr-base);
            transform: translateY(-50%);
        }
        p {
            white-space: nowrap;
        }
    }
}

:host ::ng-deep {
    .slider-controls {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        padding-bottom: 3px;
    }
    .splide__arrows {
        display: flex;
        justify-content: space-between;
        width: 100%;
        min-height: 34px;
        .splide__arrow {
            z-index: 2;
            &--prev {
                left: 0;
            }
            &--next {
                right: 0;
            }
        }
    }
    .splide__pagination {
        // background-color: greenyellow;
        gap: 8px;
        /** fixes */
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        bottom: 0;
        padding-inline: 54px;
    }
}

// .slider-controls {
//     z-index: 1;
//     margin-top: 56px;
//     gap: 12px;
//     img {
//         transition: all var(--transition-duration);
//     }
//     > button:first-of-type:hover img {
//         content: url('../../../assets/icons/arrow-backward-primary.svg');
//         transform: translateX(-4px);
//     }
//     > button:last-of-type:hover img {
//         content: url('../../../assets/icons/arrow-forward-primary.svg');
//         transform: translateX(4px);
//     }
//     .slide-bullets {
//         gap: 8px;
//         button.active img {
//             content: url('../../../assets/icons/bullet-primary.svg');
//         }
//     }
// }


// @media(max-width: 1099px) {
@include m.mq(tabl-md) {
    .slide {
        --slide-width: 60vw;
        min-width: var(--slide-width);
    }
}
@include m.mq(mob) {
    h2 {
        font-size: 24px;
    }
    .slider-container {
        --slide-gap: 2vw;
    }
    .slide {
        justify-content: center;
        --slide-width: 80vw;
        min-width: var(--slide-width);
        .content {
            margin-top: auto;
        }
    }
    .slider-controls {
        margin-top: 40px;
    }
}
@media(min-width: 1440px) {
    .slide-container {
        --slide-gap: 64px;
    }
}